body {
  text-align: center;
  margin: 0 auto;
}

.AppHeader {
  background-color: rgb(26, 0, 227);
  height: 60px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.filters {
  display: flex;
  position: start;
  justify-content: space-evenly;
  align-items: center;
  margin: 10px;
}

.cardsContainer {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
  width: 1000px;
  margin: auto;
}

.cardInfo {
  flex: 200px;
  margin: 10px;
  border: 1px solid #ccc;
  box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.1);
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
}

img {
  object-fit: contain;
  max-width: 150px;
  max-height: 250px;
}

h3 {
  margin: 0;
  padding: 5px;
  font-size: 16px;
  text-align: center;
}

p {
  margin: 0;
  padding: 5px;
  font-size: 14px;
  text-align: center;
}